body {
	font-family: Inter;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f5f9; /* فاتح */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #3b82f6; /* أزرق متوسط */
	border-radius: 10px;
	transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: #2563eb; /* أزرق أغمق */
}

::-webkit-scrollbar-thumb:active {
	background: #1d4ed8; /* أزرق داكن */
}

ul {
	list-style: none;
	padding: 0;
}
.app {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333;
}

.task {
	transition: 0.3s all !important;
}

.task:hover {
	padding: 1rem 0;
	box-shadow: 0 7px 7px rgb(1 1 1 / 30%);
}

.icon-button {
	transition: 0.3s all;
}

.icon-button:hover {
	background-color: #c5c5c5 !important;
	box-shadow: 3px 3px 3px rgb(1 1 1 / 30%);
}

/* Fonts */

@font-face {
	font-family: Inter;
	src: url("/public/Fonts/Inter-Light.woff2");
	font-weight: 300;
}

@font-face {
	font-family: Inter;
	src: url("/public/Fonts/InterDisplay-Bold.woff2");
	font-weight: bold;
}

@font-face {
	font-family: Inter;
	src: url("/public/Fonts/InterDisplay-Regular.woff2");
	font-weight: normal;
}

@font-face {
	font-family: Inter;
	src: url("/public/Fonts/Inter-Black.woff2");
	font-weight: 900;
}
